body {
  /* background image */
  background: url('bg.jpg') no-repeat center fixed;
  background-size: cover;
  
  /* color adjustments */
  color: White;
  background-blend-mode: overlay;
  background-color: #333;
}

a {
  color: LightGray;
}

a:hover {
  color: Silver;
}