body {
  /* background image */
  background: url('bg.jpg') no-repeat center center fixed;
  background-size: cover;
  
  /* color adjustments */
  color: #fff;
  background-blend-mode: overlay;
  background-color: #333;
}