body {
  /* background image */
  background-size: cover;
  
  /* color adjustments */
  color: White;
  background-blend-mode: overlay;
  background: #333 url('bg.jpg') no-repeat fixed center;
}

a {
  color: LightGray;
}

a:hover {
  color: Silver;
}